/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
  font-family: 'KozGoPro-Medium-AlphaNum';
  src: url("fonts/KozGoPro-Medium.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KozGoPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/KozGoPro-Medium.woff") format("woff"), url("fonts/KozGoPro-Medium.ttf") format("truetype"), url("fonts/KozGoPro-Medium.svg#b32455d826db9be4af5764b21ba4c839") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'KozGoPro-Heavy-AlphaNum';
  src: url("fonts/KozGoPro-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KozGoPro-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/KozGoPro-Heavy.woff") format("woff"), url("fonts/KozGoPro-Heavy.ttf") format("truetype"), url("fonts/KozGoPro-Heavy.svg#c1185407c231a0cc420b92f7faa8b46b") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'KozGoPro-ExtraLight-AlphaNum';
  src: url("fonts/KozGoPro-ExtraLight.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KozGoPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/KozGoPro-ExtraLight.woff") format("woff"), url("fonts/KozGoPro-ExtraLight.ttf") format("truetype"), url("fonts/KozGoPro-ExtraLight.svg#7f76c8b966e2c6a5628756c5d2305ea9") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'KozGoPro-Regular-AlphaNum';
  src: url("fonts/KozGoPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KozGoPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/KozGoPro-Regular.woff") format("woff"), url("fonts/KozGoPro-Regular.ttf") format("truetype"), url("fonts/KozGoPro-Regular.svg#33a50092083f5bcce254f68cacbdb884") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'KozGoPro-Bold-AlphaNum';
  src: url("fonts/KozGoPro-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KozGoPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/KozGoPro-Bold.woff") format("woff"), url("fonts/KozGoPro-Bold.ttf") format("truetype"), url("fonts/KozGoPro-Bold.svg#c1313632f63f782bf3400b6c05a11125") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'KozGoPro-Light-AlphaNum';
  src: url("fonts/KozGoPro-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/KozGoPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/KozGoPro-Light.woff") format("woff"), url("fonts/KozGoPro-Light.ttf") format("truetype"), url("fonts/KozGoPro-Light.svg#4b35db1b9b3aa761145b5ea59ce4a254") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 200; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body, html {
  font-family: 'KozGoPro-ExtraLight-AlphaNum';
  color: #33373b;
  background: #72c4c0;
  margin: 0;
  position: relative;
  height: 100%;
  overflow: hidden; }

#login {
  height: 100%;
  position: relative; }
  #login .logo {
    height: 45%;
    vertical-align: bottom;
    position: absolute;
    width: 100%;
    top: 0;
    transition-duration: 2s;
    -webkit-transition-duration: 2s; }
    #login .logo img {
      position: absolute;
      bottom: 50px;
      left: 50%;
      margin-left: -86px; }
    #login .logo.out {
      top: -100%; }
  #login .form-box {
    height: 100%;
    background: #e37341;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -45%;
    transition-duration: 1s;
    -webkit-transition-duration: 1s; }
    #login .form-box .form {
      background: url("../img/login_form_box.png") no-repeat scroll top left;
      background-size: 278px 139px;
      width: 278px;
      height: 139px;
      display: inline-block;
      position: relative;
      margin-top: 50px; }
    #login .form-box input {
      font-size: 13px;
      border: none;
      background: none;
      padding: 10px;
      width: 180px;
      margin-left: 40px;
      margin-top: 13px; }
    #login .form-box.out {
      bottom: -100%; }

#lista .top {
  position: absolute;
  width: 100%;
  height: 200px;
  background: #e37341;
  top: -140px;
  z-index: 1000;
  transition-duration: 1s;
  -webkit-transition-duration: 1s; }
  #lista .top .content-bottom {
    padding: 10px 20px; }
  #lista .top.out {
    top: -200px; }
#lista .menu {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -120px;
  background: #e37341;
  transition-duration: 1s;
  -webkit-transition-duration: 1s; }
  #lista .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 2; }
    #lista .menu ul li {
      display: inline-block;
      width: 32%;
      line-height: 80px;
      text-align: center; }
      #lista .menu ul li a {
        vertical-align: middle;
        display: inline-block;
        background: url("../img/icons_menu.png") no-repeat scroll top left;
        background-size: 117px 39px;
        width: 39px;
        height: 39px;
        text-indent: -9999px; }
        #lista .menu ul li a.enviadas {
          background-position: -39px; }
        #lista .menu ul li a.sair {
          background-position: -78px; }
  #lista .menu.out {
    bottom: -300px; }
  #lista .menu .bg {
    background: #736357;
    position: absolute;
    width: 34%;
    height: 200px;
    left: 0%;
    top: 0;
    z-index: 1;
    transition-duration: 1s;
    -webkit-transition-duration: 1s; }
    #lista .menu .bg.select-1 {
      left: 0%; }
    #lista .menu .bg.select-2 {
      left: 33%; }
    #lista .menu .bg.select-3 {
      left: 66%; }
#lista .empty {
  background: url("../img/list_empty.png") no-repeat center center;
  background-size: 185.5px 205px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: 0;
  transition-duration: 1s;
  -webkit-transition-duration: 1s; }
  #lista .empty.out {
    left: 100%; }
#lista .items {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  overflow-y: scroll;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -webkit-overflow-scrolling: touch; }
  #lista .items ul {
    padding: 60px 0 100px 0;
    margin: 0;
    list-style: none; }
    #lista .items ul li {
      background: url("../img/bg_clock.png") no-repeat scroll top left;
      background-size: 290.5px 99px;
      width: 290.5px;
      height: 99px;
      margin: 10px auto;
      position: relative;
      transition-duration: 1s;
      -webkit-transition-duration: 1s; }
      #lista .items ul li h1 {
        position: absolute;
        top: 10px;
        font-size: 50px;
        width: 110px; }
      #lista .items ul li .date {
        position: absolute;
        left: 110px;
        width: 180px;
        text-align: center;
        font-size: 30px;
        top: 10px; }
      #lista .items ul li .buttons {
        position: absolute;
        left: 110px;
        width: 180px;
        top: 50px;
        text-align: center; }
        #lista .items ul li .buttons a {
          background: url("../img/clock_menu_icons.png");
          background-size: 97.5px 65px;
          width: 31.66667px;
          height: 32.25px;
          text-indent: -9999px;
          display: inline-block;
          margin: 0 10px; }
          #lista .items ul li .buttons a.editar {
            background-position: -33px 0; }
          #lista .items ul li .buttons a.deletar {
            background-position: -66px 0; }
          #lista .items ul li .buttons a.enviar {
            background-position: -98px 0; }
      #lista .items ul li.deleted {
        left: 100%; }
      #lista .items ul li.removing {
        height: 0; }
  #lista .items.out {
    right: -100%; }

#enviar_form {
  display: none;
  position: absolute;
  z-index: 1000;
  background: url("../img/bg_opacity.png") scroll top left;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-overflow-scrolling: none; }
  #enviar_form .form {
    position: relative;
    top: 10%;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background: #ebe8e3;
    overflow: hidden;
    left: 100%;
    transition-duration: 1s;
    -webkit-transition-duration: 1s; }
    #enviar_form .form .head {
      padding: 20px; }
      #enviar_form .form .head h1 {
        text-align: left; }
      #enviar_form .form .head .fechar {
        float: right;
        display: inline-block;
        background: url("../img/close.png") no-repeat scroll top left;
        background-size: 21.5px 22px;
        width: 21.5px;
        height: 22px;
        text-indent: -9999px; }
    #enviar_form .form .inputs {
      position: absolute;
      top: 60px;
      bottom: 85px;
      padding: 20px;
      overflow: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }
      #enviar_form .form .inputs textarea, #enviar_form .form .inputs input, #enviar_form .form .inputs select {
        resize: none;
        border: 1px solid #72c4c0;
        width: 100%;
        background: #ebe8e3;
        padding: 10px;
        box-sizing: border-box;
        font-size: 14px;
        color: #33373b;
        margin-bottom: 10px; }
    #enviar_form .form .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
      #enviar_form .form .footer .enviar {
        display: inline-block;
        background: url("../img/send_button.png") no-repeat scroll top left;
        background-size: 254.5px 54.5px;
        width: 254.5px;
        height: 54.5px;
        text-indent: -9999px;
        margin: 15px 0; }
    #enviar_form .form.in {
      left: 0; }

/* Landscape layout (with min-width) */
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px; }

.event.listening {
  background-color: #333333;
  display: block; }

.event.received {
  background-color: #4B946A;
  display: none; }

@keyframes fade {
  from {
    opacity: 1.0; }

  50% {
    opacity: 0.4; }

  to {
    opacity: 1.0; } }

@-webkit-keyframes fade {
  from {
    opacity: 1.0; }

  50% {
    opacity: 0.4; }

  to {
    opacity: 1.0; } }

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite; }

.content-bottom {
  position: absolute;
  bottom: 0; }
